@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
    --color-primary: #181818;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #000;
}

a, a:hover {
    text-decoration: none  !important;
    color: unset  !important;
}